:root {
  --primary-dark-blue: #213555;
  /* Primary Dark Blue */
  --secondary-slate-blue: #3e5879;
  /* Secondary Slate Blue */
  --light-beige: #d8c4b6;
  /* Light Beige */
  --background-cream: #f5efe7;
  /* Background Cream */
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
