:root {
    --primary-dark-blue: #213555;
    /* Primary Dark Blue */
    --secondary-slate-blue: #3e5879;
    /* Secondary Slate Blue */
    --light-beige: #d8c4b6;
    /* Light Beige */
    --background-cream: #f5efe7;
    /* Background Cream */
}

.test {
    background-color: var(--light-beige);
    color: var(--primary-dark-blue);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}